<div class="row d-flex justify-content-center">
  <div class="col col-lg-9 col-xl-8">
    <div class="card">
      <div class="card-body">
        <div class="rounded shadow-sm d-flex"; height:200px;>
          <div class="mt-5 flex-column" style="width: 150px;">
            <%= image_tag @user.get_profile_image(150,150) %>
            <% if @user == current_user %>
              <div class="btn btn-outline-info text-body">
                <%= link_to "プロフィール編集", edit_user_path(@user), class: 'text-info' %>
              </div>
            <% end %>
          </div>
          <div class="ml-5" style="margin-top: 130px;">
            <h5><%= @user.name %></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="rounded shadow card-body p-4 text-black bg-white border">
      <div class="mb-2  text-body">
        <p class="lead mb-1">My 投稿</p>
        <div class="p-2">
          <% @posts.each do |post| %>
            <div class="border rounded mb-2">
              <%= link_to post_path(post.id) do %>
                <p class="pl-2 pt-2"><%= post.title %></p>
              <% end %>
              <p class="pl-2">内容: <%= post.body %></p>
              <div class="card-footer">
                <%= post.likes.count %>
                <i class="fa-solid fa-heart"></i>
                <%= post.comments.count %>
                <i class="fa-solid fa-comment"></i>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if current_user == @user %>
      <div class="rounded shadow card-body p-4 text-black bg-white border">
        <div class="mb-2  text-body">
        <p class="lead mb-1">My グループ</p>
          <div class="p-2">
            <% @groups.each do |group| %>
              <div class="border rounded mb-2">
                <%= link_to group_path(group) do %>
                  <p class="pl-2 pt-2"><%= group.name %></p>
                <% end %>
                <p class="pl-2"><%= group.introduction %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>