<h2 class="text-center text-dark bg-light py-2 mb-0">投稿一覧</h2>
<%= render 'layouts/searches' %>
  <% @stretch_programs.each do |stretch_program| %>
  <div class="card my-4">
    <div class="card-header">
      <%= link_to stretch_program_path(stretch_program) do %>
        <p class="h5"><%= stretch_program.title %></p>
      <% end %>
    </div>
    <div class="card-body">
      <p class="card-text">必要時間: <%= stretch_program.duration %> 分間</p>
      <p class="card-text">難易度: <%= stretch_program.difficulty %></p>
    </div>
  </div>
  <% end %>