<div class="container">
  <h2 class="text-center mt-4 mb-4">全ユーザー一覧</h2>
  <%= render 'layouts/searches' %>
  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column">
          <span class="font-weight-bold"><%= user.name %></span>
          <span class="text-muted"><%= user.email %></span>
        </div>
        <div>
          <span class="badge <%= user.is_active ? 'badge-success' : 'badge-danger' %> mr-2">
            <%= user.is_active ? "アクティブ" : "非アクティブ" %>
          </span>
          <div class="btn-group">
            <% if user.is_active %>
              <%= button_to "非アクティブ化", deactivate_admin_user_path(user), method: :put, class: "btn btn-danger btn-sm" %>
            <% else %>
              <%= button_to "アクティブ化", activate_admin_user_path(user), method: :put, class: "btn btn-success btn-sm" %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>