<!DOCTYPE html>
<html>
  <head>
    <title>TheStretchJourney</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/56eb33049c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="bg-light pt-4" style="min-height:100vh;">
      <main class="container">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>